<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- ПОДКЛЮЧЕНИЕ ДРАЙВЕРА ДЛЯ ДОСТУПА БД -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>


        <!-- настройки подключения БД -->
        <property name="connection.url">
            jdbc:mysql://localhost:3306/hiber</property>

        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>

        <!--режим работы фреймворка update
           в этом режиме у нас есть возможность взаимодействовать с БД
            по всем основным операциям получение/изменение/удаление данных-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- трассировка sql запросов в консоль-->
        <property name="hibernate.show_sql">true</property>
        <!--<property name=""-->

        <mapping resource="onetomany/entity/Simcard.hbn.xml"/>
        <mapping resource="onetomany/entity/SimcardBox.hbn.xml"/>

    </session-factory>
</hibernate-configuration>